.about {
	margin: 0;
	padding: 40px 0 38px 40px;
	width: 318px;
	color: $color-white;
	background-color: $color-fountain-blue;

	@include mobile {
		padding: 26px 0 24px 24px;
	}
}

.about__title {
	margin: 0;
	font-size: 1.125em;

	@include mobile {
		font-size: 1.4em;
		letter-spacing: -0.022em;
	}
}

.about__list {
	list-style: none;
	margin: 21px 0 0;
	padding: 0;
}

.about__item {
	margin: 4px 0 0;
	padding: 0;
	font-size: 0.875em;
	opacity: 0.7;

	@include mobile {
		margin: 6px 0 0;
		font-size: 1em;
		letter-spacing: 0.022em;
	}
}
