.subscribe {
	margin: 0;
	padding: 40px 0 38px 40px;
	width: 317px;
	min-width: 50%;
	color: $color-white;
	background-color: $color-shamrock;

	@include mobile {
		padding: 26px 0 24px 24px;
		width: 100%;
	}
}

.subscribe__title {
	margin: 0;
	font-size: 1.125em;

	@include mobile {
		font-size: 1.4em;
		letter-spacing: -0.022em;
	}
}

.subscribe__price {
	position: relative;
	margin: 28px 0 0 73px;
	color: $color-riptide;

	@include mobile {
		margin: 28px 0 0 72px;
		font-size: 1.2em;
	}
}

.subscribe__fee {
	position: absolute;
	left: -73px;
	top: -9px;
	font-weight: $bold;
	font-size: 2em;
	color: $color-white;
}

.subscribe__text {
	margin: 17px 0 0;

	@include mobile {
		margin: 18px 0 0;
		font-size: 1.2em;
	}
}

.subscribe__btn {
	margin: 30px 0 0;
	border-color: transparent;
	border-radius: 5px;
	padding: 2px 0 0;
	width: 238px;
	height: 48px;
	box-shadow: 10px 5px 20px 0 rgba(0, 0, 0, 0.3);
	font-weight: $bold;
	letter-spacing: inherit;
	color: inherit;
	background-color: $color-pear;

	@include mobile {
		width: 92%;
		font-size: 1.2em;
	}
}
