*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: $font-family-karla;
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	background-color: $color-black-squeeze;
}

a[role="button"]:not([disabled]),
button:not([disabled]) {
	cursor: pointer;
}
