// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-white: #fff;
$color-gray-chateau: #a3a7b0;
$color-black-squeeze: #e6eff6;
$color-shamrock: #2bb3b1;
$color-fountain-blue: #4abebd;
$color-riptide: #88e1df;
$color-pear: #bfdf32;

// FONTS
$font-family-karla: "Karla", "Arial", sans-serif;

$bold: 700;
